:root {
  @include theme-vars($dark-theme);
}

[data-theme="light"] {
  @include theme-vars($light-theme);
}

body {
  background-color: var(--bg);
  transition: transitions((background-color, color), 0.6s);
}
