.container-switch {
  display: flex;
  align-items: center;
  font-weight: $font-weight-bold;

  .switch-toggle {
    position: relative;
    width: 40px;
    height: 20px;
    display: block;
    margin-left: auto;
    cursor: url('../assets/images/hand.png'), pointer;

    .slider {
      position: absolute;
      background: var(--toggle);
      inset: 0;
      border-radius: 15px;
      
      transition: transitions((background-color), .3s, ease);

      &:hover {
        background: $hover-toggle;
      }
      
      &::before {
        position: absolute;
        content: '';
        inset: 2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--bg);
        transition: .4s ease;
        -moz-transition: .4s ease;
        -webkit-transition: .4s ease;
      }
    }
  
    #switch-toggle:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    #switch-toggle:focus-visible + .slider {
      outline: 2px solid var(--focus);
      outline-offset: 3px;
    }
  
    @media (min-width: 768px) {
      margin-left: .8rem;
    }
  }
}
