.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem
}

.stats-grid .stat-card {
  position: relative;
  background-color: var(--card-bg);
  text-align: center;
  padding: 2rem;
  cursor: url(../assets/images/hand.png), pointer;
  border-radius: 6px;
  overflow: hidden;
  transition: background-color .4s cubic-bezier(.42, -.26, .25, .23) 0s, color .4s cubic-bezier(.42, -.26, .25, .23) 0s
}

.stats-grid .stat-card:hover {
  background-color: var(--hover-bg)
}

.stats-grid .stat-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  z-index: 100
}

.stats-grid .stat-card.facebook {
  --accent: hsl(208, 92%, 53%)
}

.stats-grid .stat-card.twitter {
  --accent: hsl(203, 89%, 53%)
}

.stats-grid .stat-card.instagram {
  --accent: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(5, 77%, 71%), hsl(329, 70%, 58%))
}

.stats-grid .stat-card.youtube {
  --accent: hsl(348, 97%, 39%)
}

.stats-grid .stat-card .stat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-weight: 700
}

.stats-grid .stat-card .stat-numbers {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text);
  margin-top: 1.4rem
}

.stats-grid .stat-card .stat-label {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 5px;
  margin: .5rem 0 1.4rem
}

.stats-grid .stat-card .stat-delta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  font-weight: 700
}

.overview {
  margin-top: 2.6rem
}

.overview .overview-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem
}

.overview .overview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem
}

.overview .overview-card {
  background-color: var(--card-bg);
  padding: 1.4rem 2rem 1.4rem 1.4rem;
  border-radius: 6px;
  cursor: url(../assets/images/hand.png), pointer;
  transition: background-color .6s cubic-bezier(.42, -.26, .25, .23) 0s, color .6s cubic-bezier(.42, -.26, .25, .23) 0s
}

.overview .overview-card:hover {
  background-color: var(--hover-bg)
}

.overview .overview-card .overview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem
}

.overview .overview-card .overview-header .overview-label {
  font-weight: 700
}

.overview .overview-card .overview-change {
  display: flex;
  align-items: flex-end;
  justify-content: space-between
}

.overview .overview-card .overview-change .overview-value {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text)
}

.overview .overview-card .overview-change .overview-trend {
  display: flex;
  align-items: center;
  gap: .3rem
}

.container-switch {
  display: flex;
  align-items: center;
  font-weight: 700
}

.container-switch .switch-toggle {
  position: relative;
  width: 40px;
  height: 20px;
  display: block;
  margin-left: auto;
  cursor: url(../assets/images/hand.png), pointer
}

.container-switch .switch-toggle .slider {
  position: absolute;
  background: var(--toggle);
  inset: 0;
  border-radius: 15px;
  transition: background-color .3s ease 0s
}

.container-switch .switch-toggle .slider:hover {
  background: linear-gradient(90deg, #368fe7, #3eda82)
}

.container-switch .switch-toggle .slider:before {
  position: absolute;
  content: "";
  inset: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--bg);
  transition: .4s ease;
  -moz-transition: .4s ease;
  -webkit-transition: .4s ease
}

.container-switch .switch-toggle #switch-toggle:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translate(20px)
}

.container-switch .switch-toggle #switch-toggle:focus-visible+.slider {
  outline: 2px solid var(--focus);
  outline-offset: 3px
}

@media(min-width:768px) {
  .container-switch .switch-toggle {
    margin-left: .8rem
  }
}

#root {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-muted);
  padding: 2.5rem clamp(1.5rem, 8vw, 8rem)
}

.dashboard-heade {
  margin-bottom: 2.4rem
}

@media(min-width:768px) {
  .dashboard-heade {
    display: flex;
    justify-content: space-between
  }
}

.dashboard-heade #switch-toggle {
  width: 0;
  height: 0;
  opacity: 0
}

.dashboard-heade .dashboard-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: .5rem
}

.dashboard-heade hr {
  margin: 1.4rem 0
}

@media(min-width:768px) {
  .dashboard-heade hr {
    display: none
  }
}

.up {
  color: #1db489
}

.down {
  color: #dc414c
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}

*[hidden] {
  display: none
}

body {
  line-height: 1
}

menu,
ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

:root {
  --bg: hsl(230, 17%, 14%);
  --top-bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-muted: hsl(230, 22%, 74%);
  --text: hsl(0, 100%, 100%);
  --toggle: linear-gradient(90deg, hsl(210, 79%, 56%), hsl(146, 68%, 55%));
  --hover-bg: hsl(228, 28%, 32%);
  --hover-toggle: ;
  --focus: hsl(163, 72%, 41%)
}

[data-theme=light] {
  --bg: hsl(0, 100%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-muted: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  --toggle: hsl(230, 22%, 74%);
  --hover-bg: hsl(230, 18.3705760303%, 73.2028%);
  --hover-toggle: ;
  --focus: hsl(203, 89%, 53%)
}

body {
  background-color: var(--bg);
  transition: background-color .6s cubic-bezier(.42, -.26, .25, .23) 0s, color .6s cubic-bezier(.42, -.26, .25, .23) 0s
}